/* Sass Document */
/* Sass Document */
/* Sass Document */
.back-to-top {
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100%;
  background-color: #333333;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }

@media(min-width: 27em) {
  .back-to-top {
    right: 40px;
    bottom: 40px; } }
.back-to-top:hover {
  background-color: #333333; }

.back-to-top:active {
  transform: scale(0.97); }

.slideLeft {
  visibility: visible !important;
  animation: slideLeft 1s ease-in-out;
  -webkit-animation: slideLeft 1s ease-in-out;
  -moz-animation: slideLeft 1s ease-in-out; }

@keyframes slideLeft {
  0% {
    transform: translateX(150%); }
  50% {
    transform: translateX(-8%); }
  65% {
    transform: translateX(4%); }
  80% {
    transform: translateX(-4%); }
  95% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }
/* Sass Document */
.project-nav {
  display: block;
  clear: both;
  float: none;
  padding: 1.5rem 0 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 700px; }

a.project-prev {
  float: left; }

a.project-next {
  float: right; }

a.fa:link,
a.fa:visited {
  color: #999999;
  text-decoration: none;
  margin: 3.5rem 0.625rem 0;
  display: inline-block;
  transition: color 1s ease; }
  a.fa:link:hover, a.fa:link:active, a.fa:link:focus,
  a.fa:visited:hover,
  a.fa:visited:active,
  a.fa:visited:focus {
    color: #333333; }

a.fa.fa-twitter, a.fa.fa-dribbble, a.fa.fa-behance, a.fa.fa-linkedin, a.fa.fa-codepen, a.fa.fa-github {
  font-size: 1.25rem; }

a.email:link,
a.email:visited {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(to top, transparent, transparent 0.04em, #333333 0.04em, #333333 0.085em, transparent 0.085em);
  text-shadow: -0.1em 0 0 #fff, 0.1em 0 0 #fff;
  display: inline-block;
  font-size: 1.575rem;
  color: #333333;
  margin: 0 auto; }
  @media all and (min-width: 28.94rem) {
    a.email:link,
    a.email:visited {
      font-size: 1.875rem; } }
  @media all and (max-width: 400px) {
    a.email:link,
    a.email:visited {
      font-size: 1.25rem; } }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Lora", serif;
  padding: 40px;
  color: #333333; }

h1, h2, h3, h4, h5, h6, figcaption {
  font-family: "Arimo", sans-serif; }

h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, article, .divider {
  width: 100%;
  margin: 0 auto;
  max-width: 700px; }

h1 {
  font-size: 38px;
  margin-bottom: 20px; }

h2 {
  font-weight: 400;
  font-size: 20px;
  color: #999999;
  margin-bottom: 48px; }

h3 {
  font-size: 16px;
  margin-bottom: 8px; }

p {
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 24px; }

article, section, .divider {
  margin-bottom: 48px; }

a {
  color: #333333; }

blockquote {
  font-style: italic;
  border-left: 2px solid #333333;
  padding-left: 6px;
  line-height: 24px;
  margin-bottom: 48px; }

.special {
  width: 100%;
  margin: 0 auto;
  max-width: 700px; }
  .special .logo {
    height: 42px;
    margin-bottom: 48px; }

.italic {
  font-style: italic; }

.divider {
  text-align: center; }

li {
  margin-left: 14px;
  line-height: 24px; }

figure > img {
  display: block;
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto 16px; }

figcaption {
  margin-bottom: 48px;
  text-align: center;
  font-size: 12px;
  color: #999999; }

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px; }

footer {
  margin: 2.5rem auto 0;
  text-align: center; }

/*# sourceMappingURL=css.css.map */
